lab3-server_soap/WebContent/wsdl/calfunction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lab3" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lab3" xmlns:intf="http://lab3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lab3" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="cal">
    <complexType>
     <sequence>
      <element name="exp" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="calResponse">
    <complexType>
     <sequence>
      <element name="calReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calRequest">

      <wsdl:part element="impl:cal" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="calResponse">

      <wsdl:part element="impl:calResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="calfunction">

      <wsdl:operation name="cal">

         <wsdl:input message="impl:calRequest" name="calRequest"/>

         <wsdl:output message="impl:calResponse" name="calResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="calfunctionSoapBinding" type="impl:calfunction">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="cal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="calfunctionService">

      <wsdl:port binding="impl:calfunctionSoapBinding" name="calfunction">

         <wsdlsoap:address location="http://localhost:8080/lab3/services/calfunction"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
