lab3-server_soap/WebContent/wsdl/cardvalidation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lab3" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lab3" xmlns:intf="http://lab3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lab3" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="cardvalid">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="cardvalidResponse">
    <complexType>
     <sequence>
      <element name="cardvalidReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="cardvalidRequest">

      <wsdl:part element="impl:cardvalid" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="cardvalidResponse">

      <wsdl:part element="impl:cardvalidResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="cardvalidation">

      <wsdl:operation name="cardvalid">

         <wsdl:input message="impl:cardvalidRequest" name="cardvalidRequest"/>

         <wsdl:output message="impl:cardvalidResponse" name="cardvalidResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="cardvalidationSoapBinding" type="impl:cardvalidation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="cardvalid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cardvalidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cardvalidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="cardvalidationService">

      <wsdl:port binding="impl:cardvalidationSoapBinding" name="cardvalidation">

         <wsdlsoap:address location="http://localhost:8080/lab3/services/cardvalidation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
