lab3-server_soap/WebContent/wsdl/checklogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lab3" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lab3" xmlns:intf="http://lab3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lab3" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="validlogin">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validloginResponse">
    <complexType>
     <sequence>
      <element name="validloginReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="validloginRequest">

      <wsdl:part element="impl:validlogin" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="validloginResponse">

      <wsdl:part element="impl:validloginResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="checklogin">

      <wsdl:operation name="validlogin">

         <wsdl:input message="impl:validloginRequest" name="validloginRequest"/>

         <wsdl:output message="impl:validloginResponse" name="validloginResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="checkloginSoapBinding" type="impl:checklogin">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validlogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validloginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validloginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="checkloginService">

      <wsdl:port binding="impl:checkloginSoapBinding" name="checklogin">

         <wsdlsoap:address location="http://localhost:8080/lab3/services/checklogin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
