lab3-server_soap/WebContent/wsdl/registeruser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lab3" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lab3" xmlns:intf="http://lab3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lab3" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="newuser">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="newuserResponse">
    <complexType>
     <sequence>
      <element name="newuserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="newuserRequest">

      <wsdl:part element="impl:newuser" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="newuserResponse">

      <wsdl:part element="impl:newuserResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="registeruser">

      <wsdl:operation name="newuser">

         <wsdl:input message="impl:newuserRequest" name="newuserRequest"/>

         <wsdl:output message="impl:newuserResponse" name="newuserResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="registeruserSoapBinding" type="impl:registeruser">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="newuser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="newuserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="newuserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="registeruserService">

      <wsdl:port binding="impl:registeruserSoapBinding" name="registeruser">

         <wsdlsoap:address location="http://localhost:8080/lab3/services/registeruser"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
